<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".txt" #>
<#@ import namespace="CodeBuilder.Model.Template" #>
<#@ parameter type="CodeBuilder.Model.Template.EntityClassInfo" name="entity" #>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;

/// <summary>
/// 
/// </summary>
public class <#= entity.ClassName#>
{
    public <#= entity.ClassName#>()
    {
    }

<#  foreach(EntityClassPropertyInfo property in entity.RopertyList)
    { #>
    public <#= property.PropertyType#> <#= property.PropertyName#> {get; set;}

<#;
    }
#>
}